@media screen and (min-width: 500px) and (max-width: 899px) {
    section {
        height: 50vw;
        flex: 50%;
    }
  }
  
  @media screen and (min-width: 900px) {

  }
  

* {
    font-family:'Courier New', Courier, monospace;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

/* Header --------------------------------------------------*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background:rgb(194, 188, 188)
}

#initials {
    height: 70px;
    width: 70px;
    border-radius: 50%;

}

nav a {
    font-size: 2rem;
    color: #000000;
    text-decoration: none;
    margin: 0 1.5rem;
}

nav a:hover {
    color: #313131;
    text-decoration: underline;
    font-weight: 900;
    margin: 0 1.5rem;
}

nav a:visited {
    color: #494949;
    text-decoration: underline;
    margin: 0 1.5rem;
}
/*header end-------------------------------------------------*/

/*homepage --------------------------------------------------*/

#container {
}


#bush {
    float:right;
    border-style:double;
    border-width: 30px;
    border-color:rgba(158, 108, 108, 0.829);
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    
}  

#name {
    float: right;
    color: rgba(163, 36, 36, 0.719);
    font-size: 3rem;
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 3rem;    
    margin-left: 5rem;
    padding-right: 9rem;
    
}

main p{
    text-align: center;
    font-size: 1.5rem;
    font-weight:700;
}

.button {
    display: inline-block;
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration: none;
    border: 2.9px solid;
    padding: 0.5rem 1rem;
}

.btn-startjourney {
    color: #940000;
    border-color: #940000;
}

.btn-startjourney:hover{
    background-color: #24000023;
}

main {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
    margin:20rem;
    justify-content: space-around;
}

main h2 {
    font-size: 3rem;
    width: 100%;
    text-align: center;
}

main article {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 0 2rem;
}

main article p {
    margin: 1rem 0;
}

/* Social section */
#social-links {
    display: flex;
    flex-direction:column-reverse;
    align-items:center;
    justify-content: center;
    padding: 1rem 0;
}
#social-links a:hover {
opacity: 80%;
}

/* MAYBE NOT NEEDED 
#social-links a:visited {
opacity: 20%;
}
*/

#social-links p {
    margin: 0 0 1rem;  
    font-size: 2rem;
}

#social-links div div {

    display: flex;
    justify-content: space-between;
    align-items: center;
}
