@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&family=Ubuntu&display=swap");

* {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
}



/*footer*/
footer {
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;}

/* Header*/
#myface {
  border-style: double;
  border-width: 15px;
  border-color: rgba(158, 108, 108, 0.829);
  width: 50vw;
  height: 50vw;
  border-radius: 50%;
  margin-top: 5vh;
  margin-bottom: 3rem;
  margin-left: 20vw;
  align-content: center;}

  @media screen and (min-width: 1300px) 
{
  #myface { 
    border-style: double;
    border-width: 15px;
    border-color: rgba(158, 108, 108, 0.829);
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    margin-top: 5vh;
    margin-bottom: 2rem;
    margin-left: 35vw;
    align-content: center;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: rgb(194, 188, 188);  

}

#initials {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

nav a {
  font-size: 2rem;
  color: #000000;
  text-decoration: none;
  margin: 0 1.5rem;
}

nav a:hover {
  color: #313131;
  text-decoration: underline;
  font-weight: 900;
  margin: 0 1.5rem;
}

nav a:visited {
  color: #494949;
  text-decoration: underline;
  margin: 0 1.5rem;
}
/*header end-------------------------------------------------*/

/*homepage // main all*/

p {
  max-width: 60rem;
  text-align:left;
  font-size: 1.5rem;
  font-weight: 600;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

main article p {
  margin: 2rem;
}

h1 {
  color: rgba(163, 36, 36, 0.719);
  font-size: 3rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  padding-right: 1rem;


}

h2 {  
  text-decoration: underline;
  font-size: 2.5rem;
  width: 100%;
  text-align: center;
  margin-top: 2vw;
}

h3 {
  font-size: 2rem;
  color: #8d0202;
  text-align: center;
  margin-top: 3vw;
}

.btn-startjourney{
  display: flex;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
  border: 2.9px solid;
  padding: 0rem 1rem;
  margin-top: 3vh;
  margin-bottom: 3vw;
  color: #940000;
  border-color: #940000;
}
  
.btn-startjourney:hover {
 background-color: #24000023;
}


/*projects image */

.coderordinal {
width: 100px;
height: 100px;
display: contain;
justify-content: center;
max-width:10%;
max-height: 10vh;

}





/* Social section */
#social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin-top: 3rem;
}
#social-links a:hover {
  opacity: 80%;
}

#social-links p {
  position:relative;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-left: 1rem;
  margin-top: 2rem;
}

#social-links div div{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* aboutme*/ 
/* media query for modible to display vertically    */ 

/* photo styles for projects */ 
.cogs {
  margin: 2rem;
  margin-top: 8rem;
  transition: all 0.2s;
  align-items: center;
  width: 70vw;
  height: 28vh;
}

.cogs:hover {
outline: 15px solid #eeff0096;
box-shadow: 0 20px 40px rgb(0, 0, 0);
transform: scale(1.05) translateY(-20px);
z-index: 20;
}

.cogs:not(:hover) {
transform: scale(0.9);}

/* medua query for mobile devices */   
@media only screen and (min-width: 900px) {
    .gallery__photo {
    width: 50vh;
    height: 50vh; 
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column; 
    margin: 5rem;
    transition: all 0.2s;
  }

    .gallery {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column; 
      width: 100vw;
      height: 100vh;
      margin: 5rem;
    }

    .gallery__photo:hover {
      outline: 15px solid #00000052;
      box-shadow: 0 20px 40px rgb(0, 0, 0);
      transform: scale(1.05) translateY(-20px);
      z-index: 20;
    }
    .gallery:hover .gallery__photo:not(:hover) {
      transform: scale(0.9);
}
}

/* medua query for laptop devices */
@media only screen and (max-width: 901px) {
  .gallery { 
  width: 1000px;
  position: relative;
  }


.gallery__photo {
  margin: 2rem;
  width: 250px;
  height: 250px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  transition: all 0.2s;
  z-index: 10;
  outline-offset: 20px;

}

.gallery__photo:hover {
  outline: 15px solid #00000052;
  box-shadow: 0 20px 40px rgb(0, 0, 0);
  transform: scale(1.05) translateY(-20px);
  z-index: 20;
}
.gallery:hover .gallery__photo:not(:hover) {
  transform: scale(0.9);
}
}

/*gallery photos end */


/*Blogs
  .blogimages {
  display: flex;
  align-items: center;
  width: 40vh;
  height: 40vh;
  border-radius: 2px;
}

.blogimages {
  display: flex;
  align-items: center;
  width: 20vh;
  height: 20vh;
  border-radius: 2px;
}*/
 






/*rest of global */
  
:root {
  --clr-primary: #d4666628;
  --clr-primary-accent: #6e424269;
  --clr-secondary: #200301e7;
}

html {
  background-color: var(--clr-primary);
 
}
* {
  box-sizing: border-box;
}

/* blogs - text/graphical */
.blog-link-container {
  border-radius: 1rem;
  overflow: hidden;
  color: var(--clr-secondary);
  background-color: var(--clr-primary-accent);
  margin: 1.5em;
  display: flex;
  flex-direction: column;
}

/*blogs date and author */
.blog-text-container {
  margin-bottom: 0;
  margin-top: auto;
}

.blog-link-container:hover {
  transform: scale(1.05);
}

.blog-link-container img {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
}

.small-text {
  font-size: clamp(0.8rem, 0.48vw + 0.8rem, 1rem);
  padding: 0 0.5rem;
  color: var(--clr-secondary);
  margin: 0;
}

.small-title {
  font-size: clamp(1.5rem, 2.3vw + 1rem, 2rem);
  padding: 0 0.5rem;
  margin-top: 0.5em;
  text-transform: uppercase;
  color: var(--clr-secondary);
}

.blog-link-container .small-text {
  width: fit-content;
}

  /* blogs */
  .blog-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .big-title {
    width: 100%;
  }

  .blog-container .big-title {
    width: 100vw;
  }

  .blog-link-container {
    width: 40vw;
  }

