@import url(http://fonts.googleapis.com/css?family=Lato|Bree+Serif);

@media only screen and (max-width: 480px)

@media screen and (min-width: 500px) and (max-width: 899px) {
  section {
      height: 50vw;
      flex: 50%;
  }
}

@media screen and (min-width: 900px) {

}

/* {
    box-sizing: border-box:
    margin: 0;
    padding: 0;
}*/

body {
    display: flex;
    flex-direction: column;
}

/* Header --------------------------------------------------*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

#initials {
    height: 15vw;
    width: 15vw;
    border-radius: 50%;

}

nav a {
    font-size: 1rem;
    font-family: Lato, sans-serif;
    color: #2b3636;
    text-decoration: none;
    margin: 0 1.5rem;
}

nav a:hover {
    font-family: Lato, sans-serif;
    color: #6e8b8f;
    text-decoration: underline;
    font-weight: 600;
    margin: 0 1.5rem;
}

nav a:visited {
    font-family: Lato, sans-serif;
    color: #5e797c;
    text-decoration: underline;
    margin: 0 1.5rem;
}
/*header end-------------------------------------------------*/

/*homepage --------------------------------------------------*/

#container {
    position:relative;
}

#ngungun {
    position:absolute;
    height: 50%;
    width: 100%;
}

#bush {
    justify-content: flex-end;
    position: absolute;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
}  

#name {
    justify-content: flex-end;
    position: absolute;
    font-family: 'Bree Serif', serif;
    color: rgba(8, 37, 39, 0.788);
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem 0;
}
/*homepage end-----------------------------------------------*/


/* homepage TEXT--------------------------------------------------*/
.button {
    display: inline-block;
    font-family: Lato, sans-serif;
    font-size: 1rem;
    text-decoration: none;
    border: 1px solid;
    padding: 0.5rem 1rem;
}

.btn-green {
    color: #009407;
    border-color: #009407;
}

.btn-green:hover{
    background-color: #0024022d;
}

/* Main content */
main {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0;
    justify-content: space-around;
}

main h2 {
    font-family: 'Bree Serif', serif;
    font-size: 1.7rem;
    width: 100%;
    text-align: center;
}

/* Main articles */

main article {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 0 2rem;
}

main article p {
    margin: 1rem 0;
}

/* Social section */
#social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #5d8b31;
    padding: 1rem 0;
}
#social-links a:hover {
opacity: 80%;
}

/* MAYBE NOT NEEDED 
#social-links a:visited {
opacity: 20%;
}
*/

#social-links p {
    font-family: 'Bree Serif', serif;
    margin: 0 0 1rem;
    color: rgb(255, 255, 255);
}

#social-links div div {
    display: flex;
    justify-content: space-between;
}
